* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Forum-Regular";
  font-display: swap;
  src: url("../fonts/Forum-Regular.woff") format("woff"), url("../fonts/Forum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Book";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Demi";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Medium";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT-Light";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI Italic";
  font-display: swap;
  src: url("../fonts/Segoe UI Italic.woff") format("woff"), url("../fonts/Segoe UI Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI-Light";
  font-display: swap;
  src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?ibkm4k") format("truetype"), url("../fonts/icons.woff?ibkm4k") format("woff"), url("../fonts/icons.svg?ibkm4k#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-lock:before {
  content: "\e900";
}

._icon-user:before {
  content: "\e901";
}

._icon-fb:before {
  content: "\e902";
}

._icon-arrow:before {
  content: "\e903";
}

._icon-insta:before {
  content: "\e904";
}

._icon-heart:before {
  content: "\e905";
}

html,
body {
  color: #fff;
  font-size: 18px;
  font-family: "FuturaPT-Medium", sans-serif;
}

html._lock,
body._lock {
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page.header-fixed {
  padding: 93px 0 0 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1120px;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  font-family: "FuturaPT-Light", sans-serif;
  border-radius: 0 !important;
  display: block;
  padding: 11px 15px 11px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #C2C2C2;
  background-color: transparent;
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #959595;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  background-color: #FF6464;
  border-radius: 2px;
  color: #fff;
  padding: 0 20px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  white-space: nowrap;
}

.title {
  font-family: "Forum-Regular", sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 110.4166666667%;
  letter-spacing: 0.03em;
}

.item-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 131.25%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
}

.item-title a {
  color: #272727;
}

.item-title:hover {
  text-decoration: underline;
}

.text {
  font-family: "FuturaPT-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 122.2222222222%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.media__content {
  min-width: 0;
  position: relative;
}

.media__content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.media__socials .media__slider-arrows {
  position: relative;
}

.media__socials .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 15;
  font-size: 0;
  width: 51px;
  height: 29px;
  background-color: transparent;
}

.media__socials .slick-arrow.slick-prev {
  left: 0px;
  background-image: url("../img/media/arrowLeft.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.media__socials .slick-arrow.slick-next {
  right: 0px;
  background-image: url("../img/media/arrowRight.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.media__socials .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 100px;
}

.media__socials .slick-dots li {
  list-style: none;
  margin: 0 8.5px;
}

.media__socials .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #656565;
  border-radius: 50%;
}

.media__socials .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.intro {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(61%, #fff), color-stop(61%, #272727), to(#272727));
  background: -o-linear-gradient(left, #fff, #fff 61%, #272727 61%, #272727 100%);
  background: linear-gradient(to right, #fff, #fff 61%, #272727 61%, #272727 100%);
  height: 100vh;
  padding: 0px 0 60px 0;
}

.intro__inner {
  height: 100%;
  position: relative;
}

.intro__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro__top-title {
  margin-right: 135px;
}

.intro__title {
  font-weight: normal;
  font-size: 64px;
  line-height: 110.9375%;
  letter-spacing: 0.03em;
  font-family: "Forum-Regular", sans-serif;
  color: #272727;
  padding-right: 40px;
  padding-bottom: 60px;
}

.intro__view {
  text-align: right;
}

.intro__view a {
  font-style: italic;
  font-family: "SegoeUI-Light", sans-serif;
  color: #272727;
  font-weight: 300;
  font-size: 18px;
  line-height: 133.3333333333%;
  position: relative;
  padding-left: 38px;
}

.intro__view a:before {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background-color: #272727;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, 50%);
      -ms-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  z-index: 5;
}

.intro__image img {
  width: 100%;
  height: auto;
}

.intro__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
}

.intro__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__lang-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 131.25%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "FuturaPT-Book", sans-serif;
  color: #C4C4C4;
  margin-right: 10px;
  cursor: pointer;
}

.intro__lang-item:last-child {
  margin-right: 0;
}

.intro__lang-item._active,
.intro__lang-item:hover {
  color: #272727;
}

.intro__item {
  width: 38%;
}

.intro__item-title {
  font-size: 16px;
  line-height: 125%;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "FuturaPT-Book", sans-serif;
}

.intro__item-text {
  font-weight: 300;
  font-family: "FuturaPT-Light", sans-serif;
  font-size: 18px;
  line-height: 127.7777777778%;
  text-align: right;
  margin: 9px 0;
  color: #C2C2C2;
}

.intro__item-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 133.3333333333%;
  letter-spacing: 0.03em;
  color: #E2B67A;
  font-family: "Segoe UI Italic", sans-serif;
  text-align: right;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header:before {
  opacity: 0;
  content: "";
  height: 20%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header.fixed {
  position: fixed;
}

.header.fixed .menu {
  padding: 20px 0;
}

.header.fixed .menu__body {
  padding-top: 93px;
}

.header.fixed:before {
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background-color: #272727;
}

.header__logo {
  z-index: 99;
}

.header__icons {
  z-index: 88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__icon {
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 21px;
  margin-left: 38px;
}

.header__icon:first-child {
  margin-left: 0;
}

.header__icon:last-child {
  margin-left: 99px;
}

.header__icon:hover {
  color: #E2B67A;
}

.menu {
  padding: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 12;
}

.menu__body {
  -webkit-transition: right 0.8s ease 0s;
  -o-transition: right 0.8s ease 0s;
  transition: right 0.8s ease 0s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 133px 0px 75px 0px;
  background-color: #272727;
  z-index: -12;
}

.menu__body._active {
  right: 0;
}

.menu__inner nav {
  background: #2F2F2F;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 27px 0;
  text-align: center;
  margin-right: 50px;
  position: relative;
}

.menu__list li:last-child {
  margin-right: 0;
}

.menu__list li:after {
  content: "";
  width: 0;
}

.menu__list li:hover:after,
.menu__list li._active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.8px;
  -webkit-transition: width 0.2s ease 0s;
  -o-transition: width 0.2s ease 0s;
  transition: width 0.2s ease 0s;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.menu__link {
  font-weight: 450;
  font-size: 16px;
  font-family: "FuturaPT-Book", sans-serif;
  line-height: 131.25%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.menu__content {
  margin-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1.8px solid #2F2F2F;
}

.menu__item {
  display: none;
}

.menu__item._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.menu__column:last-child {
  margin-right: 0;
}

.menu__item-title {
  font-family: "FuturaPT-Demi", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.menu__item-labels {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__item-label {
  font-family: "FuturaPT-Light", sans-serif;
  font-size: 18px;
  line-height: 122.2222222222%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.menu__item-label:last-child {
  margin-bottom: 0;
}

.menu__item-label a {
  color: #fff;
}

.menu__item-label a:hover {
  text-decoration: underline;
}

.menu__item-rest-labels {
  display: none;
}

.menu__item-rest-labels._active {
  display: block;
}

.menu__item-show-all {
  margin-top: 15px;
}

.menu__item-show-all a {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 131.25%;
  font-family: "SegoeUI-Light", sans-serif;
  color: #E2B67A;
}

.menu__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.menu__collection-photo {
  position: relative;
  margin-right: 85px;
}

.menu__collection-photo img {
  width: 100%;
  height: auto;
}

.menu__collection-label {
  font-size: 18px;
  font-family: "FuturaPT-Book", sans-serif;
  line-height: 122.2222222222%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.menu__collection-label-top {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 8;
}

.menu__collection-title {
  font-size: 48px;
  line-height: 110.4166666667%;
  letter-spacing: 0.03em;
  font-family: "Forum-Regular", sans-serif;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 8;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__collection-label-bottom {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 8;
}

.menu__collection-label-bottom a {
  color: #fff;
}

.menu__collection-label-bottom a span {
  padding-left: 20px;
  font-size: 17px;
}

.menu__phone {
  margin-bottom: 50px;
}

.menu__contact-label {
  font-size: 14px;
  line-height: 128.5714285714%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.menu__phone-content {
  margin-left: 44px;
}

.menu__phone-text {
  margin-bottom: 15px;
}

.menu__phone-text a {
  font-weight: 300;
  font-family: "FuturaPT-Light", sans-serif;
  font-size: 18px;
  line-height: 127.7777777778%;
  color: #C2C2C2;
}

.menu__news-content {
  margin-left: 44px;
}

.menu__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 16px;
}

.menu__contact-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 95%;
          flex: 1 1 95%;
}

.menu__contact-btn {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
          flex: 1 1 5%;
}

.menu__contact-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__contact-apps img {
  margin-right: 5px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .social__item {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  color: #272727;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social .social__item:last-child {
  margin-right: 0;
}

.social .social__item:hover {
  color: #fff;
  background-color: #272727;
}

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 50;
}

.icon-menu:hover span {
  background-color: #E2B67A;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon-menu span:first-child {
  top: 0;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0;
}

.icon-menu._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.icon-menu._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon-menu._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.section {
  margin-top: 20px;
}

.section--media {
  background-color: #272727;
}

.men-women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.men-women__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 228px 0 235px 0;
  text-align: center;
}

.men-women__column-men {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.4))), url("../img/men-women/men.jpg");
  background: -o-linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)), url("../img/men-women/men.jpg");
  background: linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)), url("../img/men-women/men.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.men-women__column-women {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.4))), url("../img/men-women/women.jpg");
  background: -o-linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)), url("../img/men-women/women.jpg");
  background: linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)), url("../img/men-women/women.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

.men-women__suptitle {
  font-family: "FuturaPT-Light", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 120.8333333333%;
}

.men-women__title {
  font-family: "Forum-Regular", sans-serif;
  font-weight: normal;
  white-space: nowrap;
  margin: 0 auto;
  max-width: 430px;
  font-size: 64px;
  line-height: 110.9375%;
  letter-spacing: 0.03em;
  position: relative;
  padding-bottom: 23px;
}

.men-women__title a {
  color: #FFF;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.men-women__title a:hover {
  color: #E2B67A;
}

.men-women__title:after {
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.address__info {
  background-color: #272727;
  padding: 171px 0 171px calc((100vw - 1120px) / 2);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 20px);
          flex: 1 1 calc(50% - 20px);
}

.address__info-inner {
  max-width: 385px;
}

.address__text {
  margin: 17px 0 60px;
}

.address__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
}

.address__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 95%;
          flex: 1 1 95%;
}

.address__btn {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
          flex: 1 1 5%;
}

.address__photo {
  height: 100%;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 41.666% 1fr;
  grid-template-columns: 1fr 41.666% 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EDEDED;
  padding: 47px 30px 20px 30px;
}

.products__image {
  margin-bottom: 67px;
  text-align: center;
}

.products__image img {
  max-width: 100%;
  height: auto;
  max-height: 170px;
}

.products__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #757575;
  margin: 9px 0;
}

.products__price {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  font-family: "Segoe UI Italic", sans-serif;
  line-height: 133.3333333333%;
  letter-spacing: 0.03em;
  color: #E2B67A;
}

.products__item-big-wrapper {
  position: absolute;
  left: 30px;
  bottom: 20px;
  z-index: 8;
}

.products__item-big {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  background-image: url("../img/products/03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.products__item-big .products__text,
.products__item-big .products__title {
  color: #fff;
}

.products__item-big .products__text a,
.products__item-big .products__title a {
  color: #fff;
}

.media {
  padding: 100px 0;
}

.media__content {
  margin-top: 80px;
  margin-bottom: 80px;
}

.media__item {
  margin-right: 25px;
}

.media__item img {
  max-width: 100%;
  height: auto;
}

.media__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.news__column--image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 10px);
          flex: 1 1 calc(50% - 10px);
}

.news__column--content {
  padding: 180px 0 180px 173px;
}

.news__title {
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 127.7777777778%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #272727;
  margin-bottom: 30px;
}

.news__label {
  font-family: "FuturaPT-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 127.2727272727%;
  margin-bottom: 110px;
}

.news__label a {
  color: #959595;
}

.news__label a:hover {
  opacity: 0.8;
}

.news__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #272727;
  max-width: 280px;
}

.news__contact-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 95%;
          flex: 1 1 95%;
}

.news__contact-btn {
  background-color: transparent;
  color: #272727;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
          flex: 1 1 5%;
}

.footer {
  background-color: #272727;
  padding-bottom: 80px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu li {
  margin-right: 15px;
}

.footer__menu li:last-child {
  margin-right: 0;
}

.footer__menu-link {
  font-weight: 450;
  font-family: "FuturaPT-Demi", sans-serif;
  font-size: 14px;
  line-height: 128.5714285714%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 80px 0 80px 0;
}

.footer__menu-link:hover {
  color: #E2B67A;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__logo img {
  max-width: 100%;
  height: auto;
}

.footer__contact {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__phone {
  margin-right: 80px;
}

.footer__contact-label {
  font-size: 14px;
  line-height: 128.5714285714%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.footer__phone-text {
  margin-bottom: 15px;
}

.footer__phone-text a {
  font-weight: 300;
  font-family: "FuturaPT-Light", sans-serif;
  font-size: 18px;
  line-height: 127.7777777778%;
  color: #C2C2C2;
}

.footer__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 16px;
}

.footer__contact-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 95%;
          flex: 1 1 95%;
}

.footer__contact-btn {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5%;
          flex: 1 1 5%;
}

.footer__contact-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-apps img {
  margin-right: 5px;
}

@media (min-width: 479.98px) {
  .address__photo {
    position: relative;
  }

  .address__photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news__image {
    height: 100%;
    position: relative;
  }

  .news__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #bb4949;
  }
}

@media (max-width: 1132px) {
  ._container {
    max-width: 950px;
  }

  .input {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 800));
  }

  .input {
    padding-right: calc(5px + 10 * ((100vw - 320px) / 800));
  }

  .input {
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 800));
  }

  .input {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .btn {
    font-size: calc(12px + 4 * ((100vw - 320px) / 800));
  }

  .btn {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 800));
  }

  .btn {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 800));
  }

  .title {
    font-size: calc(22px + 20 * ((100vw - 320px) / 800));
  }

  .item-title {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .text {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .media__socials .media__slider-arrows {
    margin-right: 10px;
  }

  .media__socials .slick-arrow {
    width: calc(30px + 20 * ((100vw - 320px) / 800));
  }

  .media__socials .slick-arrow {
    height: calc(18px + 10 * ((100vw - 320px) / 800));
  }

  .media__socials .slick-dots {
    margin-left: calc(50px + 50 * ((100vw - 320px) / 800));
  }

  .media__socials .slick-dots {
    margin-right: calc(50px + 50 * ((100vw - 320px) / 800));
  }

  .media__socials .slick-dots li {
    margin-left: calc(5px + 3 * ((100vw - 320px) / 800));
  }

  .media__socials .slick-dots li {
    margin-right: calc(5px + 3 * ((100vw - 320px) / 800));
  }

  .intro__top-title {
    margin-right: calc(15px + 85 * ((100vw - 320px) / 800));
  }

  .intro__title {
    font-size: calc(38px + 18 * ((100vw - 320px) / 800));
  }

  .intro__title {
    padding-right: calc(0px + 25 * ((100vw - 320px) / 800));
  }

  .intro__title {
    padding-bottom: calc(18px + 27 * ((100vw - 320px) / 800));
  }

  .intro__view a {
    font-size: calc(14px + 3 * ((100vw - 320px) / 800));
  }

  .intro__view a {
    padding-left: calc(5px + 25 * ((100vw - 320px) / 800));
  }

  .intro__view a:before {
    width: calc(20px + 80 * ((100vw - 320px) / 800));
  }

  .intro__lang-item {
    font-size: calc(12px + 3 * ((100vw - 320px) / 800));
  }

  .intro__item-title {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .intro__item-text {
    font-size: calc(14px + 3 * ((100vw - 320px) / 800));
  }

  .intro__item-price {
    font-size: calc(14px + 3 * ((100vw - 320px) / 800));
  }

  .header__icon {
    font-size: calc(15px + 5 * ((100vw - 320px) / 800));
  }

  .header__icon {
    margin-left: calc(15px + 20 * ((100vw - 320px) / 800));
  }

  .header__icon:last-child {
    margin-left: calc(30px + 50 * ((100vw - 320px) / 800));
  }

  .menu {
    padding-top: calc(15px + 20 * ((100vw - 320px) / 800));
  }

  .menu {
    padding-bottom: calc(15px + 20 * ((100vw - 320px) / 800));
  }

  .menu__body {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 800));
  }

  .menu__body {
    padding-top: calc(62px + 61 * ((100vw - 320px) / 812));
  }

  .menu__list li {
    padding-top: calc(10px + 15 * ((100vw - 320px) / 800));
  }

  .menu__list li {
    padding-bottom: calc(10px + 15 * ((100vw - 320px) / 800));
  }

  .menu__list li {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 800));
  }

  .menu__link {
    font-size: calc(12px + 3 * ((100vw - 320px) / 800));
  }

  .menu__content {
    margin-top: calc(20px + 30 * ((100vw - 320px) / 800));
  }

  .menu__content {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 800));
  }

  .menu__column {
    margin-right: calc(20px + 60 * ((100vw - 320px) / 800));
  }

  .menu__item-title {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .menu__item-title {
    margin-bottom: calc(10px + 18 * ((100vw - 320px) / 800));
  }

  .menu__item-label {
    font-size: calc(14px + 3 * ((100vw - 320px) / 800));
  }

  .menu__item-label {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 800));
  }

  .menu__item-show-all a {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .menu__collection {
    margin-top: calc(20px + 30 * ((100vw - 320px) / 800));
  }

  .menu__collection-photo {
    margin-right: calc(15px + 55 * ((100vw - 320px) / 800));
  }

  .menu__collection-label {
    font-size: calc(12px + 5 * ((100vw - 320px) / 800));
  }

  .menu__collection-label-top {
    top: calc(10px + 15 * ((100vw - 767.98px) / 364.02));
  }

  .menu__collection-label-top {
    left: calc(10px + 15 * ((100vw - 767.98px) / 364.02));
  }

  .menu__collection-title {
    font-size: calc(18px + 20 * ((100vw - 320px) / 800));
  }

  .menu__collection-label-bottom {
    bottom: calc(25px + 30 * ((100vw - 991.98px) / 140.02));
  }

  .menu__collection-label-bottom {
    right: calc(10px + 15 * ((100vw - 320px) / 800));
  }

  .menu__collection-label-bottom a span {
    padding-left: calc(8px + 9 * ((100vw - 320px) / 800));
  }

  .menu__collection-label-bottom a span {
    font-size: calc(13px + 3 * ((100vw - 320px) / 800));
  }

  .menu__phone {
    margin-bottom: calc(12px + 28 * ((100vw - 320px) / 800));
  }

  .menu__contact-label {
    font-size: calc(11px + 2 * ((100vw - 320px) / 800));
  }

  .menu__contact-label {
    margin-bottom: calc(5px + 7 * ((100vw - 320px) / 800));
  }

  .menu__phone-content {
    margin-left: calc(8px + 27 * ((100vw - 320px) / 800));
  }

  .menu__phone-text {
    margin-bottom: calc(5px + 7 * ((100vw - 320px) / 800));
  }

  .menu__phone-text a {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .menu__news-content {
    margin-left: calc(8px + 27 * ((100vw - 320px) / 800));
  }

  .menu__contact-form {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 800));
  }

  .menu__contact-btn {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    font-size: calc(13px + 5 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    padding-top: calc(6px + 3 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    padding-right: calc(6px + 3 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    padding-bottom: calc(6px + 3 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    padding-left: calc(6px + 3 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    width: calc(25px + 9 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    height: calc(25px + 9 * ((100vw - 320px) / 800));
  }

  .social .social__item {
    margin-right: calc(8px + 8 * ((100vw - 320px) / 800));
  }

  .section {
    margin-top: calc(8px + 10 * ((100vw - 320px) / 800));
  }

  .men-women__column {
    padding-top: calc(30px + 140 * ((100vw - 320px) / 800));
  }

  .men-women__column {
    padding-bottom: calc(33px + 142 * ((100vw - 320px) / 800));
  }

  .men-women__column-men {
    margin-right: calc(4px + 5 * ((100vw - 320px) / 800));
  }

  .men-women__column-women {
    margin-left: calc(4px + 5 * ((100vw - 320px) / 800));
  }

  .men-women__suptitle {
    font-size: calc(15px + 5 * ((100vw - 320px) / 800));
  }

  .men-women__title {
    font-size: calc(26px + 22 * ((100vw - 320px) / 800));
  }

  .men-women__title {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 800));
  }

  .men-women__title:after {
    width: calc(60px + 55 * ((100vw - 320px) / 800));
  }

  .address__info {
    padding-top: calc(20px + 120 * ((100vw - 320px) / 800));
  }

  .address__info {
    padding-bottom: calc(20px + 120 * ((100vw - 320px) / 800));
  }

  .address__info {
    -ms-flex-preferred-size: calc(50% - 18px);
        flex-basis: calc(50% - 18px);
    padding-left: calc((100vw - 950px) / 2);
  }

  .address__text {
    margin-top: calc(8px + 7 * ((100vw - 320px) / 800));
  }

  .address__text {
    margin-bottom: calc(15px + 30 * ((100vw - 320px) / 800));
  }

  .address__btn {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .products {
    grid-column-gap: calc(8px + 10 * ((100vw - 320px) / 800));
  }

  .products {
    grid-row-gap: calc(8px + 10 * ((100vw - 320px) / 800));
  }

  .products__item {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 800));
  }

  .products__item {
    padding-bottom: calc(6px + 9 * ((100vw - 320px) / 800));
  }

  .products__item {
    padding-left: calc(12px + 12 * ((100vw - 320px) / 800));
  }

  .products__item {
    padding-right: calc(12px + 12 * ((100vw - 320px) / 800));
  }

  .products__image {
    margin-bottom: calc(15px + 40 * ((100vw - 320px) / 800));
  }

  .products__text {
    margin-top: calc(4px + 4 * ((100vw - 320px) / 800));
  }

  .products__text {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 800));
  }

  .products__price {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .products__item-big-wrapper {
    bottom: calc(6px + 9 * ((100vw - 320px) / 800));
  }

  .products__item-big-wrapper {
    left: calc(12px + 12 * ((100vw - 320px) / 800));
  }

  .media {
    padding-top: calc(25px + 50 * ((100vw - 320px) / 800));
  }

  .media {
    padding-bottom: calc(25px + 50 * ((100vw - 320px) / 800));
  }

  .media__content {
    margin-top: calc(18px + 42 * ((100vw - 320px) / 800));
  }

  .media__content {
    margin-bottom: calc(18px + 42 * ((100vw - 320px) / 800));
  }

  .media__item {
    margin-right: calc(10px + 10 * ((100vw - 320px) / 800));
  }

  .news__column--image {
    -ms-flex-preferred-size: calc(50% - 8px);
        flex-basis: calc(50% - 8px);
  }

  .news__column--content {
    padding-top: calc(30px + 90 * ((100vw - 320px) / 800));
  }

  .news__column--content {
    padding-bottom: calc(30px + 90 * ((100vw - 320px) / 800));
  }

  .news__column--content {
    padding-left: calc(30px + 70 * ((100vw - 320px) / 800));
  }

  .news__title {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .news__title {
    margin-bottom: calc(10px + 16 * ((100vw - 320px) / 800));
  }

  .news__label {
    font-size: calc(15px + 6 * ((100vw - 320px) / 800));
  }

  .news__label {
    margin-bottom: calc(25px + 55 * ((100vw - 320px) / 800));
  }

  .news__contact-btn {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }

  .footer {
    padding-bottom: calc(15px + 45 * ((100vw - 320px) / 800));
  }

  .footer__menu li {
    margin-right: calc(5px + 45 * ((100vw - 320px) / 800));
  }

  .footer__menu-link {
    font-size: calc(9px + 3 * ((100vw - 320px) / 800));
  }

  .footer__menu-link {
    margin-top: calc(12px + 48 * ((100vw - 320px) / 800));
  }

  .footer__menu-link {
    margin-bottom: calc(12px + 48 * ((100vw - 320px) / 800));
  }

  .footer__logo {
    margin-right: calc(10px + 12 * ((100vw - 320px) / 800));
  }

  .footer__contact {
    margin-top: calc(5px + 5 * ((100vw - 320px) / 800));
  }

  .footer__phone {
    margin-right: calc(15px + 45 * ((100vw - 320px) / 800));
  }

  .footer__contact-label {
    font-size: calc(11px + 2 * ((100vw - 320px) / 800));
  }

  .footer__contact-label {
    margin-bottom: calc(5px + 7 * ((100vw - 320px) / 800));
  }

  .footer__phone-text {
    margin-bottom: calc(5px + 7 * ((100vw - 320px) / 800));
  }

  .footer__phone-text a {
    font-size: calc(13px + 4 * ((100vw - 320px) / 800));
  }

  .footer__contact-form {
    width: calc(200px + 50 * ((100vw - 320px) / 800));
  }

  .footer__contact-form {
    margin-bottom: calc(8px + 7 * ((100vw - 320px) / 800));
  }

  .footer__contact-btn {
    font-size: calc(13px + 2 * ((100vw - 320px) / 800));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  .intro__top {
    left: 15px;
  }

  .intro__bottom {
    padding: 0 15px;
  }

  .menu__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 14.2%;
            flex: 1 1 14.2%;
  }

  .menu__collection-title {
    top: 45%;
  }

  .menu__collection-label-bottom {
    bottom: calc(58px + -33 * ((100vw - 767.98px) / 224));
  }

  .address__info {
    -ms-flex-preferred-size: calc(50% - 16px);
        flex-basis: calc(50% - 16px);
    padding-left: 15px;
  }

  .address__info-inner {
    max-width: 340px;
  }

  .products__image img {
    max-height: 140px;
  }

  .media__item img {
    max-height: calc(200px + 100 * ((100vw - 320px) / 671.98));
  }

  .news__column--image {
    -ms-flex-preferred-size: calc(50% - 5px);
        flex-basis: calc(50% - 5px);
  }

  .news__title {
    max-width: calc(175px + 165 * ((100vw - 479.98px) / 512));
  }

  .news__contact-form {
    max-width: calc(170px + 90 * ((100vw - 479.98px) / 512));
  }
}

@media (max-width: 767.98px) {
  .page.header-fixed {
    padding-top: 51px;
  }

  .header.fixed .menu {
    padding: 10px 15px;
  }

  .header.fixed .menu__body {
    padding-top: 51px;
  }

  .header__logo img {
    width: 75%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__content {
    display: none;
  }

  .menu__collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__collection-photo {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .menu__collection-label-top {
    top: 20px;
    left: 20px;
  }

  .menu__collection-title {
    top: 50%;
  }

  .menu__collection-label-bottom {
    bottom: 20px;
  }

  .men-women__title {
    white-space: normal;
  }

  .address__info {
    -ms-flex-preferred-size: calc(50% - 13px);
        flex-basis: calc(50% - 13px);
  }

  .address__info-inner {
    max-width: 205px;
  }

  .products {
    -ms-grid-columns: 1fr 55%;
    grid-template-columns: 1fr 55%;
  }

  .products__image img {
    max-height: 110px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo img {
    width: 75%;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .footer__contact {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contact-form {
    width: 100%;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) {
  .menu__collection-photo {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 447.98));
  }

  .footer__logo {
    margin-top: calc(10px + 8 * ((100vw - 320px) / 447.98));
  }

  .footer__phone {
    margin-right: calc(10px + 70 * ((100vw - 320px) / 447.98));
  }
}

@media (max-width: 479.98px) {
  ._container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__icon {
    display: none;
  }

  .header__icon:last-child {
    display: block;
  }

  .menu__collection-label-top {
    top: 10px;
    left: 10px;
  }

  .menu__collection-label-bottom {
    bottom: 10px;
    right: 10px;
  }

  .men-women {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .men-women__column-men {
    margin-right: 0;
  }

  .men-women__column-women {
    margin-left: 0;
  }

  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .address__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .address__info {
    -ms-flex-preferred-size: calc(50% - 8px);
        flex-basis: calc(50% - 8px);
    padding-left: 10px;
  }

  .address__info-inner {
    max-width: 90%;
  }

  .address__photo img {
    width: 100%;
    height: auto;
  }

  .news__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .news__column--image {
    display: none;
  }

  .news__title {
    max-width: none;
  }

  .news__contact-form {
    max-width: 80%;
  }

  .footer__menu {
    display: none;
  }

  .footer__news {
    max-width: 170px;
  }

  .footer__contact-apps img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 479.98px) and (max-width: 1132px) {
  .men-women__column-men {
    margin-bottom: calc(4px + 5 * ((100vw - 320px) / 800));
  }
}

@media (max-width: 479.98px) and (max-width: 479.98px) {
  .footer__contact {
    margin-top: calc(15px + 10 * ((100vw - 320px) / 159.98));
  }
}